<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-fluid containerTout background p-3">
    <h3 class="text-center display-6 text-uppercase">Vos historiques</h3>
    <hr>
    <div class="contourBg mb-3 p-2" *ngFor="let userHisto of userScoreList | paginate: {itemsPerPage:3, currentPage:p}">
      <div class="container bgCard">
        <div class="row align-items-center">
          <div class="entete text-light mb-2">
            <p class="align-items-center m-0 titleQuiz">{{userHisto.quiztire}}</p>
            <span class="align-items-center m-0 histDate">{{userHisto.scoreDate| date:"dd/MM/yyyy"}}</span>
          </div>
          <p class="align-items-center txtDescription">{{userHisto.description}}</p>
          <p class="align-items-center totalQuestion">{{userHisto.totalquestions}} Questions</p>
          <p class="align-items-center ReponseObtenu">Bonnes réponses obténues : <span class="obtenu">{{userHisto.correctanswer}}/{{userHisto.totalquestions}}</span>
          </p>
        </div>
      </div>

    </div>
    <pagination-controls (pageChange)="p =$event" class="text-center text-dark" nextLabel="Suivants"
    previousLabel="Précédents">
  </pagination-controls>
  </div>

  <!-- <pagination-controls (pageChange)="p =$event" class="text-center" nextLabel="Suivants"
    previousLabel="Précédents">
  </pagination-controls> -->

</ion-content>