<ion-content>
  <div class="container">
    <div class="imageContainer">
      <img src="../../assets/image/forgetPassword.gif" alt="photo forget password">
    </div>
    <div class="container contentText">
      <h3>Mots de passe oublié ?</h3>
      <p class="txtInfos">
        Vous êtes sur le point de réinitialiser votre ancien mot de passe puisque vous l'avez oublié.
        Et pour ce faire, merci de renseigner l'email que vous avez utiliser lors de votre inscription.
      </p>

      <form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmitForm()">
        <!-- ------------------- Email ------------------------
                ------------------------------------------------------
            -->
        <div class="form-group mb-4 col-12">
          <label for="email"> E-mail</label>
          <input formControlName="email"
            [ngClass]="{'is-invalid': submitted && resetpasswordForm.controls['email'].errors}" type="email" id="email"
            name="email" placeholder="Votre mail" />
          <div *ngIf="submitted && resetpasswordForm.controls['email'].errors" class="text-danger">
            <div *ngIf="submitted && resetpasswordForm.controls['email'].errors['required']">
              Veillez remplir ce champs!
            </div>
            <div *ngIf="submitted && resetpasswordForm.controls['email'].errors['email']">
              e-mail invalide !
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btnSend">Envoyer</button>
        </div>
      </form>

    </div>
  </div>

</ion-content>