<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerImg">
    <div class="bgImg"></div>
    <!-- <div class="btnBack">
      <i class="bi bi-arrow-left-circle" routerLink="/ajouter-quiz"></i>
    </div> -->
    <h3 class="quizTitre">{{quiz.titre}}</h3>
  </div>


  <div class="contourContenu">
    <div class="container NombrContanier pt-3">
      <div class="row">
        <div class="col-6">
          <div class="sectn questionCard">
            <div class="icon d-flex justify-content-center align-items-center">
              <i class="bi bi-question-square "></i>
            </div>
            <p class="nmbr ">{{quiz.questionsList.length}}</p>
            <p class="txtQuest">Questions</p>
          </div>
        </div>
        <div class="col-6">
          <div class="sectn questionCard">
            <div class="icon d-flex justify-content-center align-items-center">
              <i class="bi bi-person-fill-check"></i>
            </div>
            <p class="formateur ">Formateur</p>
            <p class="txtQuest">{{quiz.username}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="container px-3 ">
      <h3 class="description">Description</h3>
      <p class="txtDescription">
        {{quiz.description}}
      </p>

      <button class="btn btnPays" (click)="GoToGamePage()">Jouer le Quiz</button>
    </div>


  </div>

</ion-content>