<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-fluid container background p-3">
    <div class="contourBg mb-3 p-2">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="d-flex  align-items-center">
            <img src="../../assets/image/profil 2.jpg" alt="" class="justify-content-center align-items-center">
           <div class="row">
            <p class="justify-content-center align-items-center m-0  username">Jeremi</p>
            <p class="align-items-center titleQuiz">Quiz en HTML</p>
           </div>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btnScore">500pts</button>
        </div>
      </div>
    </div>



  </div>

</ion-content>
