<ion-content>
  <div class="content_page">
    <div class="question_box">
      <div class="question">
        <p>{{curQuesion.title}}</p>
      </div>
      <div class="time">{{timeLeft}}</div>
    </div>
    <div class="answers">
      <div *ngFor="let answer of curQuesion.answer ; let n = index" class="answer" (click)="doAnswer(answer)" >
        <div class="ion-activatable ion-focusable hydrated">
          <span class="number">{{n + 1}}</span>
          <span class="answer_text">{{answer.description}}</span>
        </div>
      </div>
    </div>
    <div class="info" *ngIf="prizeInfo">
      <button class="btn btnQuit">
        {{prizeInfo.wrongAnswer}}
      </button>
      <button class="btn btnContinue">
        {{prizeInfo.correctAnswer}}
      </button>

      <button class="btn quitbtn">
        {{prizeInfo.quit}}
      </button>
    </div>


    <button class="btn btnStart">Commencer</button>

  </div>
</ion-content>