<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content_page">

    <ng-container *ngIf="!isQuizCompleted">
      <div class="quizContainerBg">
        <div class="container titleQuiz">
          <h4 class="text-center text-uppercase">{{quiz.titre}}</h4>
        </div>

        <p class="text-center textChrono">CHRONO</p>

        <div class="chronoCercle">
          <p class="numbChrono">{{counter[currentQuestion]}}</p>
        </div>

        <div>

          <div class="containerProgressBar d-flex justify-content-between mb-2 mt-2 progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [ngStyle]="{'width':progress +'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            <div class="score"> {{totalPoints}} points </div>
          </div>

          <div class="text-center mb-2">Question {{currentQuestion+1}} /{{questionListe.length}}</div>

          <div class="question_box">
            <div class="question">
              <p class="questionTitre">{{questionListe[currentQuestion]?.question}}</p>
            </div>
          </div>

          <div class="answers mb-3">
            <div appChangeBackgroundcolor [isCorrect]="reponse.iscorrect" (click)="answer(currentQuestion+1, reponse)"
              *ngFor="let reponse of questionListe[currentQuestion].responseList ; let i = index" class="answer">
              <span class="number">{{i+1}}</span>
              <span class="answer_text">{{reponse.reponse}}</span>
            </div>
          </div>

          <div class="containerBtn d-flex justify-content-between">
            <button [disabled]="currentQuestion===0" class="btn btnback" (click)="previousQuestion()"><i
                class="fa fa-chevron-left" aria-hidden="true"></i>Précédent
            </button>
            <button class="btn btnNext" (click)="nextQuestion()">Suivant <i class="fa fa-chevron-right"
                aria-hidden="true"></i>
            </button>
          </div>

        </div>
      </div>


    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="container-fluid bgTop">
        <div class="imageCintainer mb-4">
          <img src="../../assets/image/pngegg.png" alt="">
        </div>
        <div class="container-fluid containerWhiteBg">
          <div class="row">
            <div class="contenu">
              <div class="scoress text-center pt-2">
                <p><span class="scorePiont">{{totalPoints}}</span> points</p>
              </div>

              <div class="container">
                <div class="contourCardTotalReponse mb-3">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-8">
                      <p class="txtContent">Total des questions</p>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <div class="bgNumber">
                        <span class="txtNumberTatalReponse">{{questionListe.length}}</span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="contourCardBonneReponse mb-3">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-8">
                      <p class="txtContent">Bonnes réponses</p>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <div class="bgNumber">
                        <span class="txtNumberBonneReponse">{{correctAnswer}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="contourCardMauvaiseReponse mb-3">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-8">
                      <p class="txtContent">Mauvaises réponses</p>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                      <div class="bgNumber">
                        <span class="txtNumberMauvaisReponse">{{incorrectAnswer}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="col-12 pt-2">
                  <button class="btn btnQuiter" routerLink="/home">Quitter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</ion-content>