<ion-content>
  <div class="content_page">
    <div class="question_box">
      <div class="question">
        <p>titre</p>
      </div>
      <div class="time">15</div>
    </div>
    <div class="answers">
      <div class="answer" >
        <div class="ion-activatable ion-focusable hydrated">
          <span class="number">1</span>
          <span class="answer_text">descriptio,</span>
        </div>
      </div>
    </div>
    <!-- <div class="info" *ngIf="prizeInfo">
      <button class="btn btnQuit">
        {{prizeInfo.wrongAnswer}}
      </button>
      <button class="btn btnContinue">
        {{prizeInfo.correctAnswer}}
      </button>

      <button class="btn quitbtn">
        {{prizeInfo.quit}}
      </button>
    </div> -->


    <button class="btn btnStart">Commencer</button>

  </div>
</ion-content>