ion-content {
    background: #274F8A;
    --color: black;
}

ion-toolbar {
    --background: linear-gradient(90deg, rgba(39, 79, 138, 1)0%, rgb(0, 161, 247)100%)
}

ion-back-button {
    --color: #ffffff;
}


.quizContainerBg {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    color: black;
}




.content_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleQuiz {
    background: #0C85F8;
    border-radius: 20px 18px 0px 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.textChrono {
    margin: 0;
    padding-top: 13px;
}

.chronoCercle {
    width: 85px;
    height: 85px;
    position: relative;
    margin-left: 40%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 3px solid #0C85F8;
    //box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.numbChrono {
    font-size: 2.5rem;
    color: #014b90;
    font-weight: 600;
    margin: 0;
}

.containerProgressBar {
    margin-left: 10px;
    margin-right: 10px;
}

.question_box {
    min-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    display: flex;
    background: #EEF2F5;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

.questionTitre {
    text-align: center;
    margin: 0;
    color: #044ab3;
}

.question p {
    font-weight: 600;
}



.answers {
    padding-left: 10px;
    padding-right: 10px;
}

.answer {
    width: 100%;
    background: #E7EAED;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

div .answer:hover {
    border: 2px solid orange;
}

.number {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #0C85F8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 600;
    color: #fff;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    &>div {
        background: #217aff;
        text-align: center;
        padding: 8px;
        flex-basis: 30%;
        border-radius: 4px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}


.btnQuit {
    background: rgb(221, 59, 59);
    color: #fff;
}

.btnNext {
    background: #217aff;
    color: #fff;
    border: none;
}

.btnback {
    background: #EEF2F5;
    color: black;
    border: none;
}

.containerBtn {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.containerAllCompleted{
    margin: 0;
}

.containerWhiteBg {
    width: 100%;
    background: #25426F; // #939fab
    border-top-right-radius: 75px;
    position: relative;
    z-index: 10;
    margin-top: -80px;
    padding: 0;
}

.imageCintainer {
    height: 40vh;
    text-align: center;
    background: #fff;
}

.divImg{
    width: 200px !important;
    position: relative;
    top: -25px;
    margin-left: 19%;
}

.imageCintainer img {
    width: 100%;
    height: 100%;
}

.txtFelicitaion{
    color: #C28900;
    margin: 0;
    top: 46px;
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
}

.contenu {
    height: 60vh;
}

.contenu p {
    margin: 0;
}

.txtContent {
    padding-left: 10px;
}

.contourCardTotalReponse {
    background: #274F8A;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.txtNumberTatalReponse {
    color: #274F8A;
    font-weight: 600;
    font-size: 1.4rem;
}

.contourCardBonneReponse {
    background: #079927;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.txtNumberBonneReponse {
    color: #079927;
    font-weight: 600;
    font-size: 1.4rem;
}


.contourCardMauvaiseReponse {
    background: #BF3737;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.txtNumberMauvaisReponse {
    color: #BF3737;
    font-weight: 600;
    font-size: 1.4rem;
}


.bgNumber {
    background: #fff;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}

.titleResultat {
    color: #274F8A;
    margin: 0;
    font-weight: 600;
}

.scorePiont {
    font-size: 2.4rem;
    font-weight: 600;
    //color: #C28900;
    color: #fff;
    margin: 0;
    padding: 0;
}

.bi-trophy-fill {
    font-size: 4rem;
    color: orange;
    margin: 0;
}

.bi-question-circle {
    color: #217aff;
    font-size: 1.2rem;
}

.bi-check-circle {
    color: #178f3d;
    font-size: 1.2rem;
}

.bi-x-square {
    color: #b62626;
    font-size: 1.1rem;
}

.totlquestion {
    color: #fff;
    background: #217aff;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.bonneReponse {
    color: #fff;
    background: #178f3d;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.mavsReponse {
    color: #fff;
    background: #b62626;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.btnQuiter {
    background: linear-gradient(90deg, rgba(39, 79, 138, 1)0%, rgb(0, 161, 247)100%);
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 7px;
}

.txtPoint {
    margin-top: -10px;
    position: relative;
}