<ion-content>
  <div class="container">
    <div class="imageContainer">
      <img src="../../assets/image/succesFormat.gif" alt="photo formateur sign up">
    </div>
    <div class="container contentText">
      <h3>Inscrit avec succès !</h3>
      <p class="txtInfos text-center">
        Votre compte a été bien pris en compte, Nous vous enverrons un mail dès que votre compte est activé.
      </p>


      <div class="col-12">
        <button class="btn btnSend" routerLink="/login">D'accord</button>
      </div>


    </div>
  </div>

</ion-content>