<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <form #searchUsersForm="ngForm" class="form-signin">
    <ion-searchbar 
      placeholder="Rechercher ..." (ngModelChange)="onSearchUsers($event)"  name="username" required ngModel>
    </ion-searchbar>
  </form>
  
  
</ion-header>

<ion-content>
 
  <div class="#">
    <p class="text-primary text-center" *ngIf="searchUsersForm?.value.length > 0">List Of Users Found</p>
    <div *ngFor="let userSearch of searchedUser" class="list-group">
      <a (click)="getSearchUserProfile(userSearch.username)" class="list-group-item list-group-item-action">
        <img class="rounded-circle" width="45" src="{{ userphoto }}/{{ userSearch.id }}.png" />
        {{ userSearch.username }}
      </a>
    </div>
  </div>

  <div class="container-fluid container background p-3">
    <div *ngFor="let user of userList ;let i=index" class="contourBg mb-3 p-2">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="d-flex align-items-center">
            <img src="{{userphoto}}/{{user.id}}.png" alt="" class="justify-content-center align-items-center">
            <p class="justify-content-center align-items-center m-0  username">{{user.firstname +' '+user.lastname}}</p>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-success" (click)="AddQuizToQuiz(user.username)" [disabled]="getUserAssigner(i)">Assigner</button>
        </div>
      </div>
    </div>



  </div>

</ion-content>