<ion-content>

  <div class="containerImg">
    <div class="bgImg"></div>
    <div class="btnBack">
      <i class="bi bi-arrow-left-circle" routerLink="/home"></i>
    </div>
  </div>


  <div class="contourContenu">
    <div class="container pt-3">
      <div class="bgCreateSection p-3">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-9 align-items-center justify-content-center">
            <p class="titileCreate">Créer un nouveau Quiz</p>
            <p class="txtsouTitre">Merci de cliquer sur le bouton pour ajouter un nouveu quiz</p>
          </div>
          <div class="col-3">
            <div class="bouton_add d-flex align-items-center justify-content-center" (click)="goToAddQuizForm()">
              <ion-icon name="add-outline" class="iconAdd"></ion-icon>
            </div>
          </div>
        </div>
      </div>

      <h5 class="pt-4">Liste des Quiz </h5>
    </div>
    <div class="container-fliud bgListeQuiz">
      <div class="container">
        <!-------------------- CARD SLIDE
    ------------------ -->
        <div class="container mb-2 col-12">

          <ion-slides [options]="mesSlides">


            <ion-slide *ngFor="let quiz of quizs">
              <ion-card>
                <img alt="Silhouette of mountains" src="../../assets/image/html-css-1.png" />
                <ion-card-header>
                  <ion-card-title>{{quiz.titre}}</ion-card-title>
                  <ion-card-subtitle><span class="formateurQuiz">Formateur</span> {{quiz.username}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <p>{{quiz.quizDate| date:"dd/MM/yyyy"}} </p>
                  <p>{{quiz.description}}</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>


          </ion-slides>
        </div>
      </div>
    </div>

    <div class="container">
      <h5 class="pt-3 text-center">Vos propre Quiz </h5>
      <div class="row">
        <div class="col-6" *ngFor="let quiz of quizListe | paginate: {itemsPerPage:4, currentPage:p}">
          <div class="contenu mb-4">
            <div class="image">
              <img src="../../assets/image/HTML-Tutorials.png" alt="">
            </div>
            <p class="titleOwnerQuiz">{{quiz.titre}}</p>
            <p class="descriptiponOwnerQuiz">{{quiz.description}}</p>
            <div class="updateContour mx-3">
              <div class="row">
                <div class="col-6">
                  <div class="modifier d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </div>
                </div>
                <div class="col-6">
                  <div class="supprimer d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>


  </div>


</ion-content>