* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,700&display=swap%27');
    font-family: 'Poppins', sans-serif;
}

ion-toolbar{
    --background: linear-gradient(90deg, rgba(39, 79, 138, 1)0%, rgb(0, 161, 247)100%)
  }
 
 ion-back-button{
    --color: #ffffff;
  }

.bgImg{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/image/image15.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
    position: relative;
}

  /* ************************   BOUTON BACK     *****************
******************************************************** */
// .btnBack{
//    z-index: 100;
//    color: #fff;
//    position: absolute;
//    top: 40px;
//    font-size: 1.5rem;
//    margin-left: 16px;
// }


.contourContenu{
    width: 100%;
    background: #fff; // #939fab
    border-radius: 25px 25px 0px 0px;
    position: relative;
    z-index: 10;
    margin-top: -83px;
}

.bgCreateSection{
    background: #ECECEC;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.titileCreate{
    color: #274F8A;
    font-weight: 600;
    margin-bottom: 4px;
}

.txtsouTitre{
    color: #414141;
    font-size: .6rem;
    margin-bottom: 3px;
}

.bouton_add{
    background: #0C85F8;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.iconAdd{
    color: #fff;
    font-size: 2rem;
}

h5{
    color: #274F8A;
    font-weight: 600;
    font-size: 1.2rem;
}

.bgListeQuiz{
    background: #ECECEC;
}



/* ************** Propre Quiz ***** */

.contenu{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.titleOwnerQuiz{
    color: #414141;
    font-size: .9rem;
    margin-left: 9px;
    font-weight: 600;
    position: relative;
    top: 6px;
}


.descriptiponOwnerQuiz{
    color: #414141;
    font-size: .7rem;
    margin-left: 9px;
    position: relative;
    top: -10px;
    margin-bottom: 0;
}

.updateContour{
    padding-bottom: 10px;
}

.modifier {
    background: #274F8A;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.supprimer {
    background: #E24C4C;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}


.fa-pen-to-square,
.fa-trash-can{
    color: #fff;
}

.formateurQuiz{
    background: #274F8A;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
  }