<ion-content>
  <div class="container-fluid topbg">

    <div class="btnBack">
      <i class="bi bi-arrow-left-circle" routerLink="/form-add-quiz"></i>
    </div>

    <h5 class="topTextTilePage">Ajouter des questions</h5>
  </div>


  <div class="container containerForm pt-3">
    <form #questionForm="ngForm" (ngSubmit)="onNewQuestion()">
      <!-- <input type="hidden" class="form-control" name="id" ngModel required /> -->

      <!-- ------------------- Titre ------------------------
          ------------------------------------------------------
      -->
      <div class="form-group col-12 mb-2">
        <label for="title">Selectionner le quiz</label>
        <select class="form-select" aria-label="Selectionner le quiz" [(ngModel)]="quizId" name="quizId">
          <option [ngValue]="null" >Selectionner le quiz</option>
          <option   *ngFor="let quiz of quizs; let i = index" [ngValue]="quizselect"  [selected]="quizselect">{{quiz.titre}}</option>
        </select>
      </div>

      <!-- ------------------- QUESTION ------------------------
          ------------------------------------------------------
      -->
      <div class="form-group col-12 mb-2">
        <label for="question">Question</label>
        <input [(ngModel)]="question.question" type="text" name="question" id="question"
          placeholder="question titre ici..." required />
      </div>

      <!-- ------------------- POINTS ------------------------
              ------------------------------------------------------
            -->
      <div class="form-group col-12 mb-2">
        <label for="points">Points de ( 1 à ...)</label>
        <input [(ngModel)]="question.points" type="number" name="points" id="points" min="1" step="1" id="points"
          placeholder="100" required />
      </div>

      <!-- ------------------- DUREE ------------------------
              ------------------------------------------------------
            -->
      <div class="form-group col-12 mb-2">
        <label for="duree">Durée par seconde </label>
        <input [(ngModel)]="question.duree" type="number" name="duree" id="duree" min="1" step="1" class="form-control"
          id="duree" placeholder="15" required />
      </div>
      
      <!-- ------------------- BOUTTONS ------------------------
              ------------------------------------------------------
            -->

      <div class="col-12 mb-2 mt-3">
        <button type="submit" class="btn btnAjouter" [disabled]="!questionForm.valid">Ajouter</button>
      </div>

      <div class="col-12">
        <button class="btn btnAjouterReponse" (click)="GotoReponse()">Attribuer des reponses</button>
      </div>

    </form>


  </div>








</ion-content>