<ion-content>


  <div class="container-fluid topbg">

    <div class="btnBack">
      <i class="bi bi-arrow-left-circle" routerLink="/form-add-quiz"></i>
    </div>

    <h5 class="topTextTilePage">Ajouter des questions</h5>
  </div>


  <div class="container containerForm pt-3">
    <form #questionForm="ngForm" (ngSubmit)="onNewQuestion()">
      <!-- <input type="hidden" class="form-control" name="id" ngModel required /> -->

      <!-- ------------------- Titre ------------------------
          ------------------------------------------------------
      -->
      <div class="form-group col-12 mb-1">
        <label for="title">Selectionner le quiz</label>
        <select class="form-select" aria-label="Selectionner le quiz" [(ngModel)]="quizId" name="quizId">
          <option selected>Selectionner le quiz</option>
          <option *ngFor="let quiz of quizs">{{quiz.titre}}</option>
        </select>
      </div>

      <!-- ------------------- QUESTION ------------------------
          ------------------------------------------------------
      -->
      <div class="form-group col-12 mb-1">
        <label for="question">Question</label>
        <input [(ngModel)]="question.question" type="text" name="question" id="question"
          placeholder="question titre ici..." required />
      </div>

      <!-- ------------------- POINTS ------------------------
              ------------------------------------------------------
            -->
      <div class="form-group col-12 mb-1">
        <label for="points">Points de ( 1 à ...)</label>
        <input [(ngModel)]="question.points" type="number" name="points" id="points" min="1" step="1" id="points"
          placeholder="100" required />
      </div>

      <!-- ------------------- DUREE ------------------------
              ------------------------------------------------------
            -->
      <div class="form-group col-12 mb-2">
        <label for="duree">Durée par seconde </label>
        <input [(ngModel)]="question.duree" type="number" name="duree" id="duree" min="1" step="1" class="form-control"
          id="duree" placeholder="15" required />
      </div>





      <div class="col-12 mb-2">
        <button type="submit" class="btn btnAjouter">Ajouter</button>
      </div>

      <div class="col-12">
        <button class="btn btnAjouterReponse">Attribuer des reponses</button>
      </div>



    </form>

    <!--div class="checkboxx">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
          checked>
        <label class="form-check-label" for="exampleRadios1">
            Default radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
      </div>
    </div-->

  </div>








</ion-content>