
<ion-content>

  <!-- ------------------- BOUTON POUR COMMENCER ------------------------
          ------------------------------------------------------
      -->
  <div class="start_btn">
    <button>Commencer</button>
  </div>

  <!-- ------------------- INFO BOX ------------------------
          ------------------------------------------------------
      -->

  <div class="info_box">
  <div class="container">
    <div class="info_title">
      <span>Règles du Quiz</span>
    </div>
    <div class="info_list">
      <div class="info">1. Vous avez <span>15 secondes </span> pour répondre à chaque question</div>
      <div class="info">2. Une fois clicquer sur une question, vous ne pouvez plus annuler la réponse</div>
      <div class="info">3. Vous aurez un score final à la fin du quiz pour prouver votre niveau de compréhension.</div>
    </div>
    <div class="buttons">
      <div class="quit">Quitter</div>
      <div class="restart">Continuer</div>
    </div>
  </div>
  </div>






</ion-content>
