<ion-content>

  <!-- ------------------- BOUTON POUR COMMENCER ------------------------
          ------------------------------------------------------
      -->
  <div class="start_btn">
    <button>Commencer</button>
  </div>

  <!-- ------------------- INFO BOX  REGLES ------------------------
          ------------------------------------------------------
      -->

  <div class="info_box">
    <div class="container">
      <div class="info_title">
        <span>Règles du Quiz</span>
      </div>
      <div class="info_list">
        <div class="info">1. Vous avez <span>15 secondes </span> pour répondre à chaque question</div>
        <div class="info">2. Une fois clicquer sur une question, vous ne pouvez plus annuler la réponse</div>
        <div class="info">3. Vous aurez un score final à la fin du quiz pour prouver votre niveau de compréhension.
        </div>
      </div>
      <div class="buttons">
        <button class="quit">Quitter</button>
        <button class="restart">Continuer</button>
      </div>
    </div>
  </div>

  <!-- ------------------- QUIZ BOX ------------------------
          ------------------------------------------------------
      -->
  <div class="quiz_box">
    <div class="container">
      <header>
        <div class="title">Quiz en HTML</div>
        <div class="timer">
          <div class="time_text">Chrono</div>
          <div class="timer_sec">15</div>
        </div>
      </header>
      <section>
        <div class="que_text">
          <span>Que signifie HTML ?</span>
        </div>
        <div class="option_list">
          <div class="option">
            <span>Hyper Text Preprocessor</span>
            <div class="icon tick"><i class="fas fa-check"></i></div>
          </div>
          <div class="option">
            <span>Hyper Text Markup Language</span>
            <div class="icon cross"><i class="fas fa-times"></i></div>
          </div>
          <div class="option">
            <span>Hyper Text Multiple Language</span>
          </div>
        </div>
      </section>

      <!-- ------------------- QUIZ BOX FOOTER ------------------------
            ------------------------------------------------------
        -->
      <footer>
        <div class="total_que">
          <span>Questions<p>2</p>/<p>5</p></span>
        </div>
        <button class="next_btn">Suivant</button>
      </footer>
    </div>

  </div>






</ion-content>