  /* ************************   BOUTON BACK     *****************
******************************************************** */
.btnBack{
    z-index: 100;
    color: #fff;
    position: absolute;
    top: 40px;
    margin-left: 6px;
 }
 
 div .bi-arrow-left-circle{
    color: black;
 }