<ion-content>
  <div class="container">
    <div class="imageContainer">
      <img src="../../assets/image/checkEmail.gif" alt="photo forget password">
    </div>
    <div class="container contentText">
      <h3>Vérifier votre boîte mail</h3>
      <p class="txtInfos">
        Un nouveau mots de passe vous a été envoyer. Merci de vérifier votre boîte mail pour recupérer les informations
        concernant votre compte
      </p>


      <div class="col-12">
        <button class="btn btnSend" routerLink="/login">D'accord</button>
      </div>


    </div>
  </div>

</ion-content>