<ion-content [fullscreen]="true">

  <div class="tout">
    <div class="container">
      <div class="row mt-5">
        <div class="menu col-7">
          <i class="bi bi-list"></i>
        </div>
        <div class="profil col-5 d-flex">
          <img src="../../assets/image/profil 2.jpg" alt="photo de profil" class="rounded-circle" height="35"
            width="35">

          <ion-button fill="clear" size="small">
            <ion-icon size="small" name="notifications"></ion-icon>
            <ion-badge class="notif-badge text-center">15</ion-badge>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="container mt-2 col-12">
        <img src="../../assets/image/HTML-Tutorials.png" alt="">
        <p class="text-white">Evaluation html</p>
        <p class="text-white">Formation : Jeremi-KOLOMA</p>
      
      </div>

    

    <div class="containerBas mt-3 pb-3">
      <div class="container">
        <div class="row pt-3">
          <div class="col-6">
            <div class="elemQuiz p-3">
              <i class="bi bi-question-circle "></i>
              <p class="text-white">Quiz</p>
            </div>
          </div>
          <div class="col-6">
            <div class="elemScore p-3">
              <i class="bi bi-star-half"></i>
              <p class="text-center">Scores</p>
            </div>
          </div>
        </div>
        <p class="txtTrouverHistor pt-3">Trouver vos historiques</p>
        <div class="col-12 containerHistorique p-3 ">
          <div class="histo">
            <i class="bi bi-stopwatch text-white"></i>
            <p class="text-white">Historiques</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>