<ion-content [fullscreen]="true">
  <div class="main_content_div">

    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_div">
        <ion-label class="welcome">Bonjour !</ion-label>
        <ion-label class="username">Jeremi</ion-label>
      </div>
      <div class="user_back" [style.backgroundImage]="'url(../..)'"></div>
    </div>

    <div class="content_div animated bounceInUp">
      <ion-label class="hello_label">Section Quiz</ion-label>
      <ion-grid fixed>
        <ion-row>

          <ion-col size="6" (click)="goToQuiz()">
             <div class="col_div">
              <p>icon</p>
              <ion-label>Quiz</ion-label>
             </div>
          </ion-col>

          <ion-col size="6" (click)="goToQuiz()">
            <div class="col_div">
             <p>icon</p>
             <ion-label>Quiz</ion-label>
            </div>
         </ion-col>

         <ion-col size="6" (click)="goToQuiz()">
          <div class="col_div">
           <p>icon</p>
           <ion-label>Quiz</ion-label>
          </div>
       </ion-col>

       <ion-col size="6" (click)="goToQuiz()">
        <div class="col_div">
         <p class="icon">icon</p>
         <ion-label class="quiz_titre">Quiz</ion-label>
        </div>
     </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>