<ion-content [fullscreen]="true">
  <div class="main_content_div">

    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_div">
        <ion-label class="welcome">Bonjour !</ion-label>
        <ion-label class="username">{{user.firstname}}</ion-label>
      </div>

      <div class="notification_div">
        <ion-button fill="clear" size="small">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge class="notif-badge text-center">{{nombreNotification}}</ion-badge>
        </ion-button>
      </div>


      <div class="user_back">
        <img src="{{userphoto}}/{{user.id}}.png" (click)="getUserProfile(user.username)">
      </div>
    </div>

    <div class="content_div animated bounceInUp">
      <ion-label class="hello_label text-uppercase">LevQuiz</ion-label>
      <ion-grid fixed>
        <ion-row>

          <ion-col size="6" (click)="goToQuiz()">
            <div class="col_div div_question">
              <p class="icon"><i class="bi bi-question-circle"></i></p>
              <ion-label class="quiz_titre">Quiz</ion-label>
            </div>
          </ion-col>

          <ion-col size="6" (click)="goToScore()">
            <div class="col_div div_score">
              <p class="icon"><i class="fa-solid fa-medal"></i></p>
              <ion-label class="score_titre">Scores</ion-label>
            </div>
          </ion-col>

          <ion-col size="6" (click)="goToHistorique()">
            <div class="col_div">
              <p class="icon"><i class="fa-regular fa-clock"></i></p>
              <ion-label class="historik_titre">Historique</ion-label>
            </div>
          </ion-col>

          <ion-col size="6" (click)="goToQuiz()">
            <div class="col_div">
              <p class="icon"><i class="bi bi-stopwatch"></i></p>
              <ion-label class="quiz_titre">Quiz</ion-label>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>